<ion-modal-view view-title="Post Classified">
	<ion-header-bar>
    <h1 class="title">Post Classified</h1>
    <a class="button button-assertive" ng-click="closePostClassified()">Cancel</a>
  </ion-header-bar>
	<ion-content class="classified-modal">
		<form method="post" name="classifiedForm" novalidate="" ng-submit="doClassified(classifiedForm,classified)">
			<div class="list">
				<label class="item item-input ad-image">
			    <img src="{{classified.img}}">
			  </label>
			  <div class="error">
			  	<p ng-show="classifiedForm.$submitted && classified.img=='img/fresh-upload.png'"> * Please Select Image</p>
			  </div>
			  <label class="item item-input">
			    <input type="text" placeholder="Ad Name" name="adname" ng-model="classified.adname" required>
			  </label>
			  <div class="error">
			  	<p ng-show="classifiedForm.$submitted && !classifiedForm.adname.$dirty"> * Please Enter Ad Name</p>
			  </div>
			  <label class="item item-input">
			    <textarea required placeholder="Description" style="resize:none;" rows="10" name="description" ng-model="classified.description"></textarea>
			  </label>
			  <div class="error">
			  	<p ng-show="classifiedForm.$submitted && !classifiedForm.description.$dirty"> * Please Enter Description</p>
			  </div>
			  <div class="item  item-input ad-photo">
			    <span ng-click="addImage()"><i class="ion-image"></i> Add Photo</span>
			  </div>
			  <label class="item item-input">
			    <input type="text" placeholder="Street 1" name="street1" ng-model="classified.street1" required>
			  </label>
			  <div class="error">
			  	<p ng-show="classifiedForm.$submitted && !classifiedForm.street1.$dirty"> * Please Enter Street 1</p>
			  </div>
			  <label class="item item-input">
			    <input type="text" placeholder="Street 2" name="street2" ng-model="classified.street2">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="City" name="city" ng-model="classified.city" required>
			  </label>
			  <div class="error">
			  	<p ng-show="classifiedForm.$submitted && !classifiedForm.city.$dirty"> * Please Enter City</p>
			  </div>
			  <label class="item item-input">
			    <input type="text" placeholder="State" name="state" ng-model="classified.state" required>
			  </label>
			  <div class="error">
			  	<p ng-show="classifiedForm.$submitted && !classifiedForm.state.$dirty"> * Please Enter State</p>
			  </div>
			  <label class="item item-input">
			    <input type="text" placeholder="Country" name="country" ng-model="classified.country" required>
			  </label>
			  <div class="error">
			  	<p ng-show="classifiedForm.$submitted && !classifiedForm.country.$dirty"> * Please Enter Country</p>
			  </div>
			  <label class="item item-input">
			    <input type="text" placeholder="Zipcode" name="zipcode" ng-model="classified.zipcode" required>
			  </label>
			  <div class="error">
			  	<p ng-show="classifiedForm.$submitted && !classifiedForm.zipcode.$dirty"> * Please Enter Zipcode</p>
			  </div>
			</div>
			<div class="action-btn">
				<button class="button button-balanced">Post Now</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>