<ion-view class="bg-white" view-title="Classified">
  <ion-content class="classified-page">
  	<div class="header">
  		<h3>Test Classified</h3>
  		<span class="location"><i class="ion-location"></i> SVS Nagar, 2nd Main Road, Valasaravakkam, Chennai, TN, IN</span>
  	</div>
  	<div class="banner">
  		<img src="img/bg-home.jpg">
  		<!-- <ion-gallery ion-gallery-items="img" ion-gallery-row="1" ion-gallery-toggle="false"></ion-gallery> -->
  	</div>
  	<div class="card">
		  <div class="item item-divider">
		    AD Details
		  </div>
		  <div class="item item-text-wrap">
		    <p><i class="ion-location"></i> SVS Nagar, 2nd Main Road, Valasaravakkam, Chennai, TN, IN 600087</p>
		    <p><i class="ion-clock"></i>  9 days , 15 hours ago</p>
		    <p><i class="ion-eye"></i>  1 Views</p>
		    <p><i class="ion-printer"></i>  Print</p>
		   </div>
		</div>
		<div class="card">
		  <div class="item item-divider">
		    Advertiser Details
		  </div>
		  <div class="item item-text-wrap">
		    <p><i class="ion-person"></i> Ramkumar</p>
		    <p><i class="ion-email"></i> ramkumar.izaap@gmail.com</p>
		    <p><i class="ion-iphone"></i>  + 1234567890</p>
		   </div>
		</div>
		
			<div id="map"></div>
		
  </ion-content>
</ion-view>