<ion-view view-title="Classifieds" class="bg-white">
	<ion-content class="classified-page">
		<ion-refresher  pulling-text="Pull to refresh..."   on-refresh="doRefresh()"></ion-refresher>
		<div class="list">
	    <a class="item item-thumbnail-left" ng-repeat="post in classifieds" href="#/app/classified/{{post.id}}">
	      <img src="{{post.photo}}">
	      <h2>{{post.adname}}</h2>
	      <p><i class="ion-location"></i> {{post.street1}}, {{post.street2}}, {{post.city}}, {{post.state}}, {{post.country}} {{post.zipcode}}</p>
	      <p class="posted_by">Posted by Ramkumar</p>
	    </a>
		</div>
	<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
	</ion-content>
	<ion-floating-button click="showPostClassified()" has-footer="false" bottom="40px" button-color="#193670" icon="ion-plus" icon-color="#fff"></ion-floating-button>
</ion-view>