<ion-view view-title="Events" class="bg-white">
	<ion-content class="event-page">	
		<div class="list">
    	<a class="item item-thumbnail-left" href="#/app/classifieds/">
      	<div class="event-date">
      		<div class="month">AUG</div>
      		<div class="date">01</div>
      		<div class="year">2017</div>
      	</div>
      	<div class="col col-67 pull-left">
      		<h2>Test Events</h2>
      		<p><i class="ion-location"></i> Chennai</p>
      	</div>
      	<div class="col col-33 pull-left posted-by">
      		Posted By<br>Ramkumar
      	</div>
    	</a>
    </div>
	</ion-content>
</ion-view>