<ion-view view-title="Invoices" class=bg-white>
  <ion-content class="invoice" scroll=false>
  	<div class="list card">
		  <div class="item item-avatar">
		    <i class="inv-img ion-cash"></i>
		    <h2>Invoice #1</h2>
		    <p>Due on : 2017-10-09</p>
		  </div>
		  <div class="item inv-amount">
		    $59.00
		  </div>
		  <div class="inv-status draft">DRAFT</div>
		  <div class="inv-pay"><a href="#/app/paynow/1"><i class="ion-ios-cart"></i> Pay Now</a></div>
		  <div class="view-details">
		  	<a href="javascript:;" ng-click="showDetails()">Click here to view</a>
		  </div>
		</div>
  </ion-content>
</ion-view>