/* Empty. Add your own CSS if you like */
.bar.bar-header,.bar.bar-header button{background: #193670;color: #fff !important;}
.bar-stable .button.button-clear,.bar.bar-stable .title,h1.title{color:#fff;}
h1.title img{height: 43px;width: 90px;float: left;}
.menu.menu-left,
.menu.menu-left .item,
.menu.menu-left .item-complex .item-content,
.menu.menu-left .item-radio .item-content
{background: #193670;color: #fff !important;}
.item .badge{right: 10px;}
.login-div{height: 95vh;}
.login-page,.register-page{background: #193670;height: 100% !important;color: #fff;}
.login-page form,.register-page form{margin: 0 auto;width: 280px;}
.register-page form{padding-top: 50px;}
.login-page form .item-input{padding: 0px 0px 0px  16px;}
.login-page .item,.register-page .item{border: none;}
.login-page form input,.register-page form input{color: #fff;    border-bottom: 1px solid #fff;}
.register-page form .input-label,.login-page form .input-label{color: #fff;}
.login-page .logo{text-align: center;}
.login-page .error p,.register-page .error p{color: #ff5f5f;padding: 4px;}
.post-feed-btn{float: right;padding:6px !important;margin-top: -6px;line-height: 0px;min-width: 50px;min-height: 27px;}
.insert-image,.insert-video{position: relative;top: -9px;width: 30px;height: 30px;border-radius: 100px;float: left;background: #193670;padding: 5px;color: #fff;text-align: center;}
.insert-video{margin-left: 10px;}
.insert-image i{position: relative;font-size: 18px;}
.insert-video i{position: relative;left: -7px;font-size: 20px;top: -2px;}
.insert-video{padding-left: 15px;font-size: 26px;}
.register-div{margin: 0 auto;text-align: center;color:#fff;width: 100%;}
.register-div a{color: #fff;text-decoration: none;}
.submit-btn{margin: 0 auto;width: 50%;}
.submit-btn button i {margin-left: 10px;}
.register-page .upload-file{border: none;}
.register-page .upload-file img{height: 100%;border-radius: 100px !important;}
.register-page .upload-file .image{text-align: center;height: 100px;width: 100px;margin: 0 auto;border-radius: 100px !important;}
label.item.item-input.item-floating-label.upload-file{background: none;}
.bg-white{background: #fff;}
.upload-img{width: 100%;height: 30%;}
.upload-img img{width: 100%;height: 100%;}

.textarea {
width:100%;
height:87vh;
padding: 5px;
margin:0 auto;}

.textarea > .upload-img {
	height:25vh;
    max-height:25vh;
    text-align:center;
    

}

.textarea > .upload-img .thumbnail canvas {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height:20vh;}
    
.textarea > .upload-img + .textarea-ip {

height:60vh;
overflow:auto}

.textarea > .ng-hide + .textarea-ip {

height:85vh;
overflow:auto;}
.textarea-ip {
    border-bottom: 3px solid #ccc;
}
.textarea-ip textarea{height: 100%;width: 100%;resize: none;}
.upload-img .remove{text-align: center;padding-right: 20px;font-size: 26px;width: 10%;float: right;}
.actions{    margin-top: 5px;}
.full-image {width: auto;max-width: 100%;}
.full-image.videothumbnail canvas{width: 100%;}
.play-img{border: 5px solid #fff;position: absolute;padding: 5px;border-radius: 100px;color: #fff;width: 60px;height: 60px;text-align: center;font-size: 40px;left: 38%;top: 25%;}
.comments-modal .content{height:85vh;overflow-y: auto;}
.comments-modal .comment-footer{height: 9vh;border-top: 2px solid #ccc;}
.comments-modal .comment-footer .input{float: left;width:85%;padding: 4px;height: 100%;}
.comments-modal .comment-footer .input input{width: 100%;padding-right: 10px;}
.comments-modal .comment-footer .button-div{float: right;width: 15%;height: 100%;}
.comments-modal .comment-footer .button-div button{border-radius: 0;height: 100%;width: 100%;}
.inv-status{width: 20%;padding: 5px;margin-top: 10px;margin-left: 10px;text-align: center;font-weight: bold;float: left;}
.inv-pay{width: 35%;padding: 5px;margin-top: 10px;margin-left: 10px;text-align: center;font-weight: bold;float: right;border: 1px solid #00ff1f;background: #b3f3b3;margin-right: 10px;}
.inv-status.due,.inv-status.unpaid{background: #f1b0b0;color: red;border: 1px solid red;}
.inv-status.paid{background: #b4f1b0;color: #268401;border: 1px solid #37802a;}
.inv-status.draft{background: #dadada;color: #828282;border: 1px solid #a0a0a0;}
.list:last-child.card {padding-bottom: 10px;}
.invoice .inv-amount{text-align: center;font-size: 26px;font-weight: bold;}
.invoice .inv-img{position: absolute;top: 16px;left: 16px;max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;font-size: 40px;}